*{
    padding: 0;
    margin: 0;
}

header {
    background-image: url("../images/header_food.png");
    background-size: cover;
    height: 1080px;
}

header .mainmenu nav {
    margin-left: 290px;
    margin-top: 50px;
}


header .mainmenu nav li {
    display: inline-block;
}

header .mainmenu nav li a {
    color: #A0A0A0;
    font-size: 30px;
    margin-left: 100px;
}

header .mainmenu nav li a:hover {
    color: #E1AF27;
    transition: 1s;
}

.first_text h1 {
    text-align: center;
    margin-top: 180px;
    margin-left: 350px;
    font-size: 92px;
    font-family:  cursive;
}

.first_text p {
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    color: #EEE6E6;
    margin-left: 400px;
    margin-top: 40px;
}

.first_text a {
    background-color: #E1AF27;
    border-radius: 7px;
    color: #404040;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.3s;
    margin-left: 900px;
    font-family: cursive;
    font-weight: bold;
    font-size: 16px;
}



.first_text a:hover {
    background-color: #ecdf28;
    text-decoration: none;
    color: #000;

    
    /*!emojicursor.app*/
}

.pre-section {
    background-image: url('../images/pre-section.png');
    background-size: cover;
    height: 1080px;
}

.pre-section h2 {
    /*font-family: 'BooRush', sans-serif;*/
    font-family: 'Comic Sans MS', cursive;
    margin-top: 170px;
    text-align: center;
    font-size: 92px;
    color: #606060;
}

.pre-section h5 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
    font-size: 30px;

}
/*-------------------------*/
.pre-section .thrid {
    margin-left: 370px;
}

.pre-section .second {
    margin-left: 40px;
}

.pre-section .first {
    margin-left: 20px;
}
/*-------------------------*/

.pre-section h3 {
    margin-top: 600px;
    font-size: 25px;
    font-family: cursive;
    color:  #606060;
    font-weight: bold;
}

.pre-section h4 {
    font-size: 18px;
}

.pre-section .h_third {
    margin-left: 350px;
    margin-top: 20px;
    font-family: cursive;
}

.pre-section .h_second {
    margin-left: 25px;
    margin-top: 20px;
    font-family: cursive;
}

.pre-section .h_first {
    margin-top: 20px;
    font-family: cursive;
}

.section_first {
    background-image: url("../images/first.png");
    background-size: cover;
    height: 820px;

}


/*-- TRANSPARENT ELEMENT ---*/
.section_first p {
    margin-left: 900px;
    color: transparent;
}
/*-- -/-/-/-/-/-/-/-/- ---*/

.section_first h1 {
    margin-left: 920px;
    margin-top: 120px;
    font-size: 92px;
    font-family: cursive;
    color: #e1af27;
}

.section_first h3 {
    margin-left: 920px;
    font-size: 25px;
    color: #E0E0E0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding-bottom: 70px;
}

.section_first a {
    margin-left: 920px;
    background-color: #E1AF27;
    border-radius: 7px;
    color: #404040;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.3s;
    font-family: cursive;
    font-weight: bold;
    font-size: 16px;
}

.section_first a:hover {
    color: #000;
    background-color: #ecdf28;
}


.products {
    background-image: url("../images/max_products.png");
    background-size: cover;
    height: 1080px;
}

.products p {
    color: transparent;
}

.products h1 {
    text-align: center;
    margin-top: 120px;
    font-size: 102px;
    font-family: cursive;
    color: #e1af27;
}

.products h4 {
    text-align: center;
    color: #E0E0E0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}


.section_second {
    background-image: url("../images/section_second.png");
    background-size: cover;
    height: 1080px;
}

.section_second h1 {
    text-align: left;
    margin-left: 300px;
    margin-top: 370px;
    font-size: 102px;
    font-family: cursive;
    color: #e1af27;
}

.section_second h4 {
    font-size: 35px;
    color: #E0E0E0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: 300px;
    padding-bottom: 50px;

}

.section_second a {
    background-color: #E1AF27;
    border-radius: 7px;
    color: #404040;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.3s;
    font-family: cursive;
    font-weight: bold;
    font-size: 16px;
    margin-left: 300px;

}

.section_second a:hover {
    background-color: #ecdf28;
    color: #000;
}

.section_second p {
    color: transparent;
}

.yellow_background {
    background-image: url("../images/yellow_background.png");
    background-size: cover;
    height: 1080px;
}

.yellow_background h4 {
    margin-top: 380px;
    font-family: Monaco;
    font-size: 40px;
    color: #404040;

}

.section_second p {
    color: transparent;
}

.yellow_background h1 {
    margin-top: 45px;
    font-family: cursive;
    font-size: 45px;
}

.subscribe_section {
    background-image: url('../images/paprike_kruse_jabuke_pomorandze_slika.png');
    background-size: cover;
    height: 1080px;

}

.subscribe_section h1 {
    margin-top: 250px;
    font-size: 92px;
    font-family: cursive;
}

.subscribe_section h3 {
    margin-top: 50px;
    font-size: 30px;
    font-family: monospace;
    color: #404040;
}

.subscribe_section button {
    margin-top: 100px;
    width: 250px;
    height: 50px;
    background-color: #e1af27;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
}

.subscribe_section input {
    width: 500px;
    height: 50px;
    margin-top: 50px;
}


/* FOOTER ----------------------*/

footer {
    
    background-color: #404040;
    height: 400px;
}

footer h3 {
    margin-top: 50px;
    color: #fff;

}

footer .edit {
    margin-left: 100px;
}

footer .second a {
    margin-top: 30px;
    color: #c0c0c0;
}

footer .second h4 {
    font-size: 20px;
    color: #c0c0c0;
}

footer .third {
    margin-left: 300px;
    margin-top: 20px;
}





/*--------------------- CSS STYLE BY: Jovic Ilija ---------------   IDEA for TEMPLATE : @someone ?  ------------------*/

footer .jovic_copy_right {
    text-align: center;
    opacity: 0.5;
    font-size: 15px;
    margin-top: 100px;
}


/*------------------------ Responsive SOON ---------------------------------------------*/

/*--------------------------------------------------------------------------------------*/

